{{.RootName}}{{ if .Version }} {{.Version}}{{ end }}: {{.RootDescription}}

Usage:
  {{.QualifiedName}} {{- if .Flags }} [flags]{{ end -}} {{- if .SubCommands }} [subcommands]{{ end }}{{ if .ArgumentList }} {{.ArgumentList}}{{ end }}

{{ if .SubCommands -}}
Commands:
{{.SubCommandsTable}}
{{ end -}}

{{ if .Arguments -}}
Arguments:
{{.ArgumentTable}}
{{ end -}}

{{ if .Flags -}}
Flags:
{{.FlagTable}}
{{ end -}}
