{{.RootName}} {{.Version}} {{.RootDescription}}

Usage:
    {{.QualifiedName}} {{- if .Flags }} [flags]{{ end -}} {{- if .SubCommands }} [subcommands]{{ end }} {{.ArgumentList}}

{{ if .SubCommands -}}
Commands:
{{.SubCommandsTable}}
{{ end -}}

{{ if .Arguments -}}
Arguments:
{{.ArgumentTable}}
{{ end -}}

{{ if .Flags -}}
Flags:
{{.FlagTable}}
{{ end -}}
